.table .header {
    height: 45px;
    display: flex;
    align-items: center;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 3px;
}

.table table thead {
    height: 20px;
    display: flex;
    align-items: center;
    background-color: darkgrey;
    color: white;
    font-weight: bold;
    font-size: 12px;
}