.App {
  text-align: center;
  }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  width: 100%;
  padding: 10%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: salmon;
  color: white;
  height: 70px;
  text-align: left;
}

.header {
  background-color: salmon;
  text-align: right;
  height: 70px;

}

nav {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-left:20px;
  font-size: 30px;
}

.floatLeft {
  float: left;
  margin-left: 20px;
}

.navButton {
  margin-right: 20px;
}
